:root {
   --cor1: #201b2c;
   --cor2: #77ffc0;
   --cor3: #2f2841;
   --cor4: #00ff88;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');


body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    background-color:var(--cor1);

}

body * {
    box-sizing: border-box;
}

.main-login {
    width: 100vw;
    height: 100vh;
    background:var(--cor1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1 {
    color: var(--cor2);
    font-size: 3vw;
}

.left-login-image {
    width: 35vw;
}

.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: var(--cor3);
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1 {
    color: var(--cor4);
    font-weight: 800;
    margin: 0;
}

.text-field {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
    width: 100%;

}

.text-field > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
    padding-right: 38px;
}

.text-field > label {
    color: #f0ffffde;
    margin-bottom: 10px;

}

.text-field > input::placeholder {
    color: #f0ffff94;
}

#password-visivel {
    display: flex;
    position: absolute;
    right: 6px;
    top: 52%;
    color: #cfcfcf;
    cursor: pointer;
}

.btn-login {
    width: 100%;
    padding: 16px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052 ;

}

.btn-login > a {
    text-decoration: none;
    color: #2b134b;
}

.btn-login:hover{
    box-shadow: 2px 2px 40px #00ff8052;
}

.text-singup {
        justify-content: center;
        text-align: center;
        color: #f0ffffde;
        
    }

.text-singup > a {
    color: var(--cor4);
    text-decoration: none;
}

.text-singup > a:hover{
    text-shadow: 0.3px 0.2px 1.5px #77ffc0;
    text-decoration: underline;
}

.error404 {
    margin: 0;
    padding: 0;
}

.error-img{
    display: block;
    width: 100vw;
    margin: auto;
    height: 75vh;
}


.error-text {
    text-align: center;
    font-family:'Noto Sans', sans-serif;
    color: var(--cor2);
}

footer {
    background-color: var(--cor1);
    text-align: center;
    color: var(--cor2);
    
}

footer > p > a {
    color: var(--cor4);
    text-decoration: none;
}

footer > p > a:hover {
    text-shadow: 0.3px 0.2px 1.5px #77ffc0;
    text-decoration: underline;
}

@media only screen and (max-width: 950px){
    .card-login{
        width: 85%;
    }
}

@media only screen and (max-width: 600px){
    .error-img{
        width: 70vw;
    }
    
    .main-login{
        flex-direction: column;
    }
    .left-login > h1 {
        display: none;
    }
    .left-login {
        width: 100%;
        height: auto;
    }
    .right-login {
        width: 100%;
        height: auto;
    }

    .left-login-image {
        width: 50vw;
    }
    .card-login {
        width: 90%;
    }
}

@media screen and (min-width: 2560px) {
    .error-img{
        width: 100vw;
        height: 82vh;
    }
    .left-login-image {
        width: 28vw;
    }
    .left-login > h1 {
        font-size: 2vw;
    } 
    .right-login p {
        font-size: 14pt; 
    }

}
